

<div
  class="bg-[url('/photos/photo2.png')] bg-center bg-cover bg-no-repeat
         flex justify-end items-end p-5 flex-col [container-type:inline-size]
         card w-[20rem] h-[20rem]
         md:h-auto md:w-auto
         md:col-start-1 md:row-[1/7]
         xl:row-[1/14] xl:col-span-1"
>
  <h1 class="main_title text-background">MARTIN VIERA</h1>
  <h2 class="main_title">FRONT-END DEVELOPER</h2>
</div>
