---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import Skill_About from "../components/Skill_About.astro";
import Proyects from "../components/Proyects.astro";
---

<Layout title="hi! Welcome to my site ">
  <Header />

  <main>
    <Home />
    <Skill_About />
    <Proyects />
  </main>
</Layout>
