<button
  class="border-4 w-2/4 py-3 px-3 border-third-color text-primary-font rounded text-2xl ml-0 mt-5 hover:bg-third-color hover:text-primary-color duration-300 shadow-custom-shadow"
>
  Contact me
</button>
