---
interface Props {
value: string
}

const { value } = Astro.props;
---
<a href="#footer"
  {...Astro.props}
  class={ value + " border-4 py-3 px-4 border-third-color text-primary-font rounded text-2xl  hover:bg-third-color hover:text-primary-color duration-300 shadow-custom-shadow text-center"}
>
  Contact me
</a>
