---
import ButtonContact from "./ButtonContact.astro";
import SocialBanner from "./SocialBanner.astro";
---

<footer class="flex w-full h-96 bg-secondary-color " id="footer">
  <div class="w-1/2 h-full items-center place-content-center">
    <h2 class="text-7xl font-bold text-third-color text-center my-10">
       Martín <span class="text-primary-font">Viera</span>
    </h2>
    <SocialBanner
      classMain="flex  place-content-center gap-5 items-center "
      classSpan=" h-2 w-1/4 bg-third-color"
      classList="flex gap-3 items-center"
      classIco="transform transition-transform duration-300 group-hover:-translate-y-2"
      classSpan2="h-2 w-1/4 bg-third-color"
    />

  </div>

  <div class="w-1/2 h-full flex justify-center items-center flex-col">
    <h2 class="text-third-color font-bold text-3xl my-5 ml-0">Contact me</h2>
    <fieldset class="w-1/2 text-primary-color font-semibold">
      <form action="https://formsubmit.co/martin_viera90@hotmail.com"  method="POST" aria-label="formulary" class="flex flex-col gap-2 ">
        <input
          type="text"
          aria-label="input name"
          required
          placeholder="Enter your full name..."
          class="rounded h-10 px-5 bg-primary-font focus:outline-none focus:ring-0"
          autocomplete="off"
          name="full name"
        />
        <input
          type="email"
          required
          name="email"
          placeholder="enter your E-mail..."
          class="rounded h-10 px-5 bg-primary-font focus:outline-none focus:ring-0"
          
        />
        <textarea
          name="textarea"
          id=""
          placeholder="Enter your message..."
          rows="4"
          class="px-5 py-2 rounded bg-primary-font resize-none focus:outline-none focus:ring-0"></textarea>
        <button
          type="submit"
          class="px-3 py-1 h-10 rounded items-end ml-auto text-third-color text-3xl font-bold border-none "
          > Send →</button
        >
        <input type="hidden" name="_next" value="https://martinviera.dev/">
      </form>
    </fieldset>
  </div>
</footer>
