---
import ButtonContact from "../components/ButtonContact.astro";
import SocialBanner from "./SocialBanner.astro";
import IcoArrowDown from "../icons/IconsMisc/IcoArrowDown.astro";
---

<section
  id="Home"
  class="h-screen w-5/6 m-auto flex align items-center justify-between relative"
>
  <div class="w-1/2 h-full flex items-center">
    <div class="w-3/4 h-1/2 flex flex-col justify-center items-start m-auto">
      <article>
        <h1 class="text-7xl font-bold">
          I'm<span class="text-third-color"> Martín Viera</span>
        </h1>
        <div class="w-96">
          <h3
            class="animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-white pr-5 text-4xl text-first-font font-semibold italic w-80[22rem]"
          >
            a frontend developer.
          </h3>
        </div>
      </article>
      <ButtonContact value="mt-5 w-1/2" />
    </div>
  </div>
  <div class="w-1/2 h-full flex justify-between">
    <div class="w-4/5 h-screen flex items-center justify-center">
      <img
        src="photo2.webp"
        alt="Profile"
        class="border-solid border-4 border-third-color h-2/4 w-auto"
      />
    </div>

    <SocialBanner
      classMain="flex flex-col h-screen justify-end mr-0 mb-10"
      classSpan=" w-2 h-64 mx-auto shadow-custom-shadow"
      classList="flex flex-col gap-2 mt-5 mb-10"
      classIco="transform transition-transform duration-300 group-hover:-translate-x-5"
      classSpan2=""
      ;
    />
  </div>


</section>
<a href="#Skills/About" class="absolute bottom-0 left-1/2 transform -translate-x-1/2" aria-label="scroll">
  <IcoArrowDown />
</a>
