---
import ProyectCard from "../components/ProyectCard.astro";
import SvgContainer from "./svgContainer.astro";

// icons type B
import IcoHTMLB from "../icons/IconsB/IcoHTMLB.astro";
import IcoCSS3B from "../icons/IconsB/IcoCSS3B.astro";
import IcoJavasCriptB from "../icons/IconsB/IcoJavasCriptB.astro";
import IcoReactB from "../icons/IconsB/IcoReactB.astro";
import IcoTailwindB from "../icons/IconsB/IcoTailwindB.astro";
---

<section
  id="Proyects"
  class="h-auto w-5/6 ju flex align items-center m-auto flex-col gap-14 mb-24"
>
  <span class="h-20 w-full bg-hero-pattern lg:h-28"></span>
  <div class="flex mt-10 items-center gap-10 justify-center">
    <span class="rounded w-16 h-1 bg-third-color sm:w-40 lg:w-64 2xl:w-80"
    ></span>
    <h2 class="text-3xl font-bold text-center sm:text-4xl xl:text-5xl">
      Proyects
    </h2>
    <span class="rounded w-16 h-1 bg-third-color sm:w-40 lg:w-64 2xl:w-80"
    ></span>
  </div>
  <ProyectCard
    name="Outfitlandia"
    text="An app designed to solve what many of us struggle with when getting dressed: combining clothes based on a favorite garment. It also guides you when buying clothes if you’re not exactly sure what you need"
    image="/ImageProyects/Outfitlandia.webp"
    linkGithub="https://github.com/Vieramaster/Outfitlandia"
    linkProyect="https://outfitlandia.vercel.app/"
  >
    <IcoHTMLB />
    <IcoCSS3B />
    <IcoJavasCriptB />
    <IcoReactB />
  </ProyectCard>
  <ProyectCard
    name="Pinteren't"
    text="This project, named ‘Pinteren’t’, is inspired by the well-known Pinterest platform. It focuses on the practical application of image APIs such as Unsplash and advanced image handling using Masonry from MUI. The main goal of the project is to refine API call techniques and enhance my skills in Tailwind and React.."
    image="/ImageProyects/pinterent.webp"
    linkGithub="https://github.com/Vieramaster/Pinteren-t"
    linkProyect="https://pinteren-t.vercel.app/"
  >
    <IcoHTMLB />
    <IcoTailwindB />
    <IcoJavasCriptB />
    <IcoReactB />
  </ProyectCard>
</section>
